<div class="add-content">
  <div class="row-1">
    <div class="profile-image">
      <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/126073736_1249959738704242_6191450175276977338_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGCRo1w4cYUHUWA003SpEnvDdN9ea6YpFoN0315rpikWk_tQJ4nUolYuL8kCB-yr681vGFYgBUqOqBYbJUGX7gE&_nc_ohc=S7IVm6o0Rv0AX-I5H5q&_nc_ht=scontent.fscl8-1.fna&oh=a82dd7cf3bf1929c4711ba5e46c4d182&oe=5FF8EADB" alt="">
    </div>
    <div class="input-think">
      <p>¿Qué estás pensando?</p>
    </div>
  </div>
  <div class="row-2">
    <div class="col">
      <ion-icon name="videocam" class="red"></ion-icon>
      <p>En vivo</p>
      <div class="divider"></div>
    </div>
    <div class="col">
      <ion-icon name="images" class="green"></ion-icon>
      <p>Foto</p>
      <div class="divider"></div>
    </div>
    <div class="col">
      <ion-icon name="videocam" class="purpple"></ion-icon>
      <p>Sala</p>
    </div>
  </div>
</div>
<div class="create-room">
  <div class="create-room-btn">
    <ion-icon name="videocam" class="purpple"></ion-icon>
    <p>Crear sala</p>
  </div>
  <div class="bubble">
    <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/120221567_3338997779468731_1041101713494051968_o.jpg?_nc_cat=1&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFNsvJ5rDXMIIbwGQFtJE10OH-QYwXocIo4f5BjBehwisd4hDei2pH-_fy3y8PSivnlBeqyKINI70UTaEe_I_2S&_nc_ohc=A7bQiLXzcMoAX9iwdJr&_nc_oc=AQkAPts0wsVkfct9jAnarDcyiLT3XYKx9sh9YMrlG3WWIj8cZCPFdN-sHwqvJHyCbxo&_nc_ht=scontent.fscl8-1.fna&oh=4a53c3e67d5fbb51af7c8b3623e107f8&oe=5FFA45E3" alt="">
    <div class="circle"></div>
  </div>
  <div class="bubble">
    <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/120221567_3338997779468731_1041101713494051968_o.jpg?_nc_cat=1&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFNsvJ5rDXMIIbwGQFtJE10OH-QYwXocIo4f5BjBehwisd4hDei2pH-_fy3y8PSivnlBeqyKINI70UTaEe_I_2S&_nc_ohc=A7bQiLXzcMoAX9iwdJr&_nc_oc=AQkAPts0wsVkfct9jAnarDcyiLT3XYKx9sh9YMrlG3WWIj8cZCPFdN-sHwqvJHyCbxo&_nc_ht=scontent.fscl8-1.fna&oh=4a53c3e67d5fbb51af7c8b3623e107f8&oe=5FFA45E3" alt="">
    <div class="circle"></div>
  </div>
  <div class="bubble">
    <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/120221567_3338997779468731_1041101713494051968_o.jpg?_nc_cat=1&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFNsvJ5rDXMIIbwGQFtJE10OH-QYwXocIo4f5BjBehwisd4hDei2pH-_fy3y8PSivnlBeqyKINI70UTaEe_I_2S&_nc_ohc=A7bQiLXzcMoAX9iwdJr&_nc_oc=AQkAPts0wsVkfct9jAnarDcyiLT3XYKx9sh9YMrlG3WWIj8cZCPFdN-sHwqvJHyCbxo&_nc_ht=scontent.fscl8-1.fna&oh=4a53c3e67d5fbb51af7c8b3623e107f8&oe=5FFA45E3" alt="">
    <div class="circle"></div>
  </div>
  <div class="bubble">
    <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/120221567_3338997779468731_1041101713494051968_o.jpg?_nc_cat=1&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFNsvJ5rDXMIIbwGQFtJE10OH-QYwXocIo4f5BjBehwisd4hDei2pH-_fy3y8PSivnlBeqyKINI70UTaEe_I_2S&_nc_ohc=A7bQiLXzcMoAX9iwdJr&_nc_oc=AQkAPts0wsVkfct9jAnarDcyiLT3XYKx9sh9YMrlG3WWIj8cZCPFdN-sHwqvJHyCbxo&_nc_ht=scontent.fscl8-1.fna&oh=4a53c3e67d5fbb51af7c8b3623e107f8&oe=5FFA45E3" alt="">
    <div class="circle"></div>
  </div>
  <div class="bubble">
    <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/120221567_3338997779468731_1041101713494051968_o.jpg?_nc_cat=1&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFNsvJ5rDXMIIbwGQFtJE10OH-QYwXocIo4f5BjBehwisd4hDei2pH-_fy3y8PSivnlBeqyKINI70UTaEe_I_2S&_nc_ohc=A7bQiLXzcMoAX9iwdJr&_nc_oc=AQkAPts0wsVkfct9jAnarDcyiLT3XYKx9sh9YMrlG3WWIj8cZCPFdN-sHwqvJHyCbxo&_nc_ht=scontent.fscl8-1.fna&oh=4a53c3e67d5fbb51af7c8b3623e107f8&oe=5FFA45E3" alt="">
    <div class="circle"></div>
  </div>
  <div class="bubble">
    <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/120221567_3338997779468731_1041101713494051968_o.jpg?_nc_cat=1&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFNsvJ5rDXMIIbwGQFtJE10OH-QYwXocIo4f5BjBehwisd4hDei2pH-_fy3y8PSivnlBeqyKINI70UTaEe_I_2S&_nc_ohc=A7bQiLXzcMoAX9iwdJr&_nc_oc=AQkAPts0wsVkfct9jAnarDcyiLT3XYKx9sh9YMrlG3WWIj8cZCPFdN-sHwqvJHyCbxo&_nc_ht=scontent.fscl8-1.fna&oh=4a53c3e67d5fbb51af7c8b3623e107f8&oe=5FFA45E3" alt="">
    <div class="circle"></div>
  </div>
  <div class="bubble">
    <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/120221567_3338997779468731_1041101713494051968_o.jpg?_nc_cat=1&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFNsvJ5rDXMIIbwGQFtJE10OH-QYwXocIo4f5BjBehwisd4hDei2pH-_fy3y8PSivnlBeqyKINI70UTaEe_I_2S&_nc_ohc=A7bQiLXzcMoAX9iwdJr&_nc_oc=AQkAPts0wsVkfct9jAnarDcyiLT3XYKx9sh9YMrlG3WWIj8cZCPFdN-sHwqvJHyCbxo&_nc_ht=scontent.fscl8-1.fna&oh=4a53c3e67d5fbb51af7c8b3623e107f8&oe=5FFA45E3" alt="">
    <div class="circle"></div>
  </div>
</div>
<div class="histories">
  <div class="row-1" >
    <div class="space"></div>
    <div class="card add-card">
      <div class="image"></div>
      <div class="add-btn">
        <ion-icon name="add"></ion-icon>
      </div>
      <p class="publish-text">Publica una historia</p>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="profile-image">
        <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/126073736_1249959738704242_6191450175276977338_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGCRo1w4cYUHUWA003SpEnvDdN9ea6YpFoN0315rpikWk_tQJ4nUolYuL8kCB-yr681vGFYgBUqOqBYbJUGX7gE&_nc_ohc=S7IVm6o0Rv0AX-I5H5q&_nc_ht=scontent.fscl8-1.fna&oh=a82dd7cf3bf1929c4711ba5e46c4d182&oe=5FF8EADB" alt="">
      </div>
      <div class="name">Carlos Astorga</div>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="profile-image">
        <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/126073736_1249959738704242_6191450175276977338_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGCRo1w4cYUHUWA003SpEnvDdN9ea6YpFoN0315rpikWk_tQJ4nUolYuL8kCB-yr681vGFYgBUqOqBYbJUGX7gE&_nc_ohc=S7IVm6o0Rv0AX-I5H5q&_nc_ht=scontent.fscl8-1.fna&oh=a82dd7cf3bf1929c4711ba5e46c4d182&oe=5FF8EADB" alt="">
      </div>
      <div class="name">Carlos Astorga</div>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="profile-image">
        <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/126073736_1249959738704242_6191450175276977338_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGCRo1w4cYUHUWA003SpEnvDdN9ea6YpFoN0315rpikWk_tQJ4nUolYuL8kCB-yr681vGFYgBUqOqBYbJUGX7gE&_nc_ohc=S7IVm6o0Rv0AX-I5H5q&_nc_ht=scontent.fscl8-1.fna&oh=a82dd7cf3bf1929c4711ba5e46c4d182&oe=5FF8EADB" alt="">
      </div>
      <div class="name">Carlos Astorga</div>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="profile-image">
        <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/126073736_1249959738704242_6191450175276977338_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGCRo1w4cYUHUWA003SpEnvDdN9ea6YpFoN0315rpikWk_tQJ4nUolYuL8kCB-yr681vGFYgBUqOqBYbJUGX7gE&_nc_ohc=S7IVm6o0Rv0AX-I5H5q&_nc_ht=scontent.fscl8-1.fna&oh=a82dd7cf3bf1929c4711ba5e46c4d182&oe=5FF8EADB" alt="">
      </div>
      <div class="name">Carlos Astorga</div>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="profile-image">
        <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/126073736_1249959738704242_6191450175276977338_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGCRo1w4cYUHUWA003SpEnvDdN9ea6YpFoN0315rpikWk_tQJ4nUolYuL8kCB-yr681vGFYgBUqOqBYbJUGX7gE&_nc_ohc=S7IVm6o0Rv0AX-I5H5q&_nc_ht=scontent.fscl8-1.fna&oh=a82dd7cf3bf1929c4711ba5e46c4d182&oe=5FF8EADB" alt="">
      </div>
      <div class="name">Carlos Astorga</div>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="profile-image">
        <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/126073736_1249959738704242_6191450175276977338_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGCRo1w4cYUHUWA003SpEnvDdN9ea6YpFoN0315rpikWk_tQJ4nUolYuL8kCB-yr681vGFYgBUqOqBYbJUGX7gE&_nc_ohc=S7IVm6o0Rv0AX-I5H5q&_nc_ht=scontent.fscl8-1.fna&oh=a82dd7cf3bf1929c4711ba5e46c4d182&oe=5FF8EADB" alt="">
      </div>
      <div class="name">Carlos Astorga</div>
    </div>
    <div class="space"></div>
  </div>
  <div class="row-2">
    <div class="see-all-histories">
      <p>Ver todas las historias</p>
    </div>
  </div>
</div>
<div class="wall">
  <div class="publication">
    <div class="header">
      <div class="avatar">
        <img src="https://scontent.fscl8-1.fna.fbcdn.net/v/t1.0-9/126073736_1249959738704242_6191450175276977338_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGCRo1w4cYUHUWA003SpEnvDdN9ea6YpFoN0315rpikWk_tQJ4nUolYuL8kCB-yr681vGFYgBUqOqBYbJUGX7gE&_nc_ohc=S7IVm6o0Rv0AX-I5H5q&_nc_ht=scontent.fscl8-1.fna&oh=a82dd7cf3bf1929c4711ba5e46c4d182&oe=5FF8EADB" alt="">
      </div>
      <div class="name-and-hour">
        <p class="name">
          Cooperativa
          <ion-icon name="checkmark-circle"></ion-icon>
        </p>
        <div class="hour">
          <p class="hour">2 h</p>
          <ion-icon name="globe"></ion-icon>
        </div>
      </div>
      <div class="more">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </div>
    </div>
  </div>
</div>